.title {
    font-family: inherit;
    color: rgb(38, 154, 207);
  }

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header p{
  font-weight: bold;
  font-size: 1.20em;
  color: #aaaaaa;
}
  