.field-container {
  display: flex;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: auto;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

