.button {
  background-color: rgba(61, 191, 252, 0.301);
  color: #555555;
  cursor: pointer;
  font: inherit;
  font-size: 2em;
  border: 0px solid rgb(37, 120, 197);
  padding: 0.75rem 3rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
}
